.sectf {
  display: flex;
  justify-content: center;
  background-color: #495e57;
  height: 439px;
}
.imgf {
  width: 164px;
  height: 268px;
  margin-top: 6rem;
  margin-right: 3rem;
  border-radius: 16px;
}
.sectf1 {
  display: block;
  margin-right: 6rem;
  margin-top: 5rem;
}
.h3f {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}
.pf {
  font-size: 16px;
  font-family: "karla", sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  .sectf {
    align-items: start;
    padding: 2rem;
    height: auto;
  }

  .imgf {
    width: 100px;
    height: 164px;
    margin: 1.5rem auto 1.5rem auto;
  }

  .sectf1 {
    text-align: center;
    margin: 1rem 0.5rem;
  }

  .h3f {
    font-size: 20px;
  }

  .pf {
    font-size: 14px;
    margin-top: 0.5rem;
  }
}
