/* First Main Content Style*/
.sect1 {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  background-color: #495e57;
  height: 20rem;
  flex-wrap: wrap;
  margin-top: 1rem;
}
.sect11 {
  margin-right: 2rem;
}
.text1 {
  color: #f4ce14;
  font-size: 4rem;
  margin: 0;
}
.text11 {
  color: #edefee;
  font-size: 2rem;
  margin: 0;
}
.text12 {
  width: 32vw;
  color: #edefee;
  font-family: "karla", sans-serif;
  font-size: 0.8125rem;
  margin-top: 1.5rem;
}
.text13 {
  width: 13.6875rem;
  height: 3.25rem;
  border-radius: 16px;
  border: 0;
  color: black;
  background-color: #f4ce14;
  font-family: "Markazi Text", serif;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1.5rem;
}
.text13:hover {
  opacity: 0.5;
}
.img1 {
  width: 20.625rem;
  height: 23.125rem;
  border-radius: 1rem;
}

/* Second Main Content Style*/
.sect2 {
  margin-top: 5rem;
  background-color: #ffffff;
  height: 570px;
  flex-wrap: wrap;
}

.sect21 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.text2 {
  margin-right: 0vw;
  color: #000000;
  font-size: 36px;
}
.text21 {
  width: 219px;
  height: 52px;
  border-radius: 16px;
  border: 0;
  color: black;
  background-color: #f4ce14;
  font-family: "Markazi Text", serif;
  font-size: 24px;
  font-weight: bold;
  margin-top: 1.5rem;
}

.sect22 {
  display: flex;
  justify-content: center;

  overflow-x: auto;
  gap: 0 2rem;
}
.sect23 {
  width: 18rem;
  border-radius: 16px;
  background-color: #edefee;
}
.img2 {
  position: relative;
  width: 100%;
  height: 13rem;
  border-radius: 16px 16px 0 0;
}
.sectn {
  display: flex;
  justify-content: space-between;
}
.text22,
.text23,
.text24,
.text25 {
  padding: 0 2rem 0 2rem;
}
.text23 {
  color: #f4ce14;
}
.text24,
.text25 {
  font-family: "karla", sans-serif;
  font-size: 11px;
}
.text24 {
  position: inherit;
}
.text25 {
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

/* Third Main Content Style*/
.sect3 {
  background-color: #495e57;
  height: 600px;
  padding-top: 3rem;
}
.sect3n {
  display: flex;
  justify-content: center;
}
.text3 {
  text-align: center;
  color: #edefee;
  font-weight: bold;
  font-size: 36px;
}
.sect31 {
  border-radius: 16px;
  background-color: #ffff;
  height: 220px;
  width: 190px;
  margin: 0 1rem 0 1rem;
}
.text31 {
  font-size: 20px;
  margin-top: 2rem;
  margin-left: 1rem;
}
.sect3nn {
  display: flex;
  flex-wrap: wrap;
}
.img3 {
  width: 75px;
  height: 65px;
  margin-left: 1rem;
}
.text32 {
  font-size: 16px;
  font-family: "karla", sans-serif;
  margin-left: 1rem;
}
.text33 {
  font-size: 12px;
  font-family: "karla", sans-serif;
  margin-bottom: 2rem;
  margin-left: 1rem;
}

/* fourth Main Content Style*/
.sect4 {
  display: flex;
  justify-content: center;
  background-color: #ffff;
  height: 530px;
  padding-top: 2rem;
  width: 100%;
}
.sect41 {
  margin-right: 3rem;
}
.sect42 {
  margin-right: 6rem;
}
.text4 {
  color: #495e57;
  font-size: 64px;
  margin: 0;
  margin-top: 6rem;
}
.text41 {
  color: #f4ce14;
  font-size: 32px;
  margin: 0;
}
.text42 {
  color: #495e57;
  font-size: 15px;
  margin-top: 3rem;
  font-family: "karla", sans-serif;
  font-stretch: semi-expanded;
}
.text42 {
  width: 25vw;
}

.sect42 {
  position: relative;
  display: inline-block;
}
.img41 {
  display: block;
  width: 261px;
  height: 327px;
  margin-left: 10rem;
  border-radius: 16px;
  position: absolute;
  top: 0;
  left: 0;
}
.img42 {
  display: block;
  width: 261px;
  height: 327px;

  margin-top: 10rem;
  border-radius: 16px;
}

/* Styles for smaller screens (mobile devices) */
@media (max-width: 768px) {
  /* First Main Content Mobile Style*/
  .sect1 {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 2rem 1rem; /* Adjust padding for spacing */
  }

  .sect11 {
    margin-right: 0;
    text-align: center;
  }

  .text1 {
    font-size: 3rem;
  }

  .text11 {
    font-size: 1.5rem;
  }

  .text12 {
    width: 90%; /* Adjust width for text readability */
    margin-top: 1rem;
  }

  .text13 {
    width: 100%;
    margin-top: 1rem;
  }

  .img1 {
    width: 100%;
    max-width: 20rem;
    height: auto;
    margin-top: 1rem;
  }

  /* Second Main Content Mobile Style*/
  .sect2 {
    height: auto;
    padding: 0;
    margin-top: 0;
    width: 100%;
  }

  .sect21 {
    display: grid;
    align-content: center;
  }

  .text2 {
    font-size: 24px;
    text-align: center;
  }

  .text21 {
    max-width: 100%;
    font-size: 18px;
    margin-top: 0;
  }

  .sect22 {
    margin-top: 1rem;
    gap: 0 1rem;
    margin-bottom: 1rem;
  }

  .sectn {
    position: relative;
    flex-direction: column;
    text-align: center;
  }

  .text24 {
    position: relative;
    width: 90%;
    font-size: 10px;
    padding: 0 0.5rem 0.5rem 0.5rem;
  }

  .text25 {
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    padding-left: 0.5rem;
    font-size: 10px;
  }

  .text22,
  .text23 {
    padding: 0;
    margin: 0;
  }

  /* Third Main Content Style*/

  .sect3 {
    height: auto;
    padding: 2rem;
  }

  .sect3n {
    flex-direction: column;
    align-items: center;
  }

  .sect31 {
    width: 80%;
    margin: 0.5rem 0;
  }

  /* fourth Main Content Mobile Style*/
  .sect4 {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .sect41 {
    margin-right: 0;
    margin-bottom: 2rem;
  }

  .text4 {
    font-size: 36px;
    margin-top: 0rem;
  }

  .text41 {
    font-size: 24px;
    margin-bottom: 1rem;
  }

  .text42 {
    width: auto;
    margin-top: 2rem;
    font-size: 14px;
  }
  .text4,
  .text41,
  .text42 {
    text-align: center;
  }

  .img41,
  .img42 {
    width: 180px;
    height: 225px;
    margin: 0 auto;
  }
  .img41 {
    display: block;
    margin-left: 6rem;
    border-radius: 16px;
    position: absolute;
    top: 0;
    left: 0;
  }
  .img42 {
    display: block;

    margin-top: 6rem;
    border-radius: 16px;
    margin-bottom: 2rem;
  }
}
