li {
  list-style: none;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  font-weight: bold;
}
li:hover {
  opacity: 0.7;
}
ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 1rem;
}
.navanchor {
  font-family: "Karla", sans-serif;
  text-decoration: none;
  color: black;
}
